@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}


:root {
  --background: #260244;
  --foreground: #c1bffc;
}


/* 
v2: background: #d4fadd
    foreground: 1b4332
*/

/*   --background: #fbf6f5;
--foreground: #3c3c3c;
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f1ef;
    --foreground: #1e2425;
  }
} */



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.underline-effect {
  position: relative;
}

.underline-effect::after {
  content: '';
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;

  width: 0;
  background-color: var(--foreground);
  transition: all .3s ease-in-out;
}

.underline-effect:hover::after {
  width: 100%;
}